*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
      width: 100%;
      margin: 0 auto;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
  }
  
  .container {
    margin: auto;
  }
  
  header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(60%);
  }
  header h1 {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    border-bottom: 5px solid #fff;
    display: inline-block;
    padding: 5px 5px;
  }
  .main-content {
    width: 50%;
    margin: 20px auto;
  }
  .map iframe{
    width: 100%;
  height: 80vh;
  margin: 0;
  }
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;          /* Khoảng cách giữa 2 cột */
    padding: 20px 100px;
  }
  .contact-container,
  .contact-form-container {
    width: 49%;       /* Mỗi cột chiếm gần nửa chiều ngang */
  }
  .contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #5df767;
  border-radius: 4px;
}
.required {
  color: red;
  margin-left: 4px;
  font-weight: bold;
}
.contact-form-container .message{
  background-color: #38a83f;
  color: white;
  font-weight: bold;
  width: 30%;
  padding: 10px;
}
label {
  display: inline-block;
  margin-bottom: 4px;
}