<!-- components/header.html -->
<div class="header111">
    <p>SĐT: 0934763069</p>
    <p>Địa chỉ: Thôn Tân Thành, đường Trường Bắn, Xã Vĩnh Phương, Tp.NhaTrang</p>
    <p>Gmail: leminhha200969@gmail.com</p>
</div>
<div class="header222">
    <a href="index.html" class="logo-link">
        <img src="assets/img/anh/Logo ogranic farm màu xanh đậm-01.png" alt="Logo" class="logo">
    </a>
    <button class="menu-toggle" aria-label="Mở menu">&#9776;</button>
    <div class="menu">
        <ul>
            <!-- <li>
                <a href="pages/index.html">Trang Chủ</a>
            </li> -->
            <li>
                <a href="index.html">Trang Chủ</a>
                <!-- <a href="pages/imagine/index.html">Giới Thiệu</a> -->
                <!-- <ul class="submenu">
                    <li><a href="pages/product/product.html">Các Sản Phẩm</a></li>
                    <li><a href="pages/product/typeproduct.html">Sản Phẩm 1</a></li>
                    <li><a href="pages/product/typeproduct.html">Sản Phẩm 2</a></li>
                </ul> -->
            </li>
            <li>
                <a href="pages/imagine/index.html">Giới Thiệu</a>
                <ul class="submenu">
                    <li><a href="pages/imagine/index.html">Trùn Quế</a></li>
                    <li><a href="pages/product/typeproduct.html">Chăn Nuôi</a></li>
                    <li><a href="pages/product/typeproduct.html">Cây Trồng</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/product/product.html">Sản Phẩm</a>
                <!-- <ul class="submenu">
                    <li><a href="pages/imagine/index.html">Nguồn Cảm Hứng</a></li>
                    <li><a href="pages/imagine/inspiration/inspiration.html">Danh Mục Đầu Tư</a></li>
                </ul> -->
            </li>
            <li>
                <a href="pages/resources/news.html">Tin Tức</a>
                <!-- <a href="pages/resources/index.html">Tài Nguyên</a>
                <ul class="submenu">
                    <li><a href="pages/resources/documents.html">Tài Liệu Sản Phẩm</a></li>
                    <li><a href="pages/resources/education.html">Giáo Dục</a></li>
                    <li><a href="pages/resources/news.html">Tin Tức</a></li>
                    <li><a href="pages/resources/event.html">Sự Kiện</a></li>
                    <li><a href="#">Thư Viện Video</a></li>
                </ul> -->
            </li>
            <li><a href="pages/map/index.html">Liên Hệ</a></li>
        </ul>
    </div>
</div>
