<!-- components/header.html -->
<div class="header111">
    <a href="/index.html" class="logo-link">
        <img src="../../assets/img/anh/logodt.png" alt="Logo" class="logo">
    </a>
    <p>số điện thoại: 0123456789</p>
    <p>Địa chỉ: 123 Đường ABC, Thành phố XYZ</p>
    <p>Gmail: abc123@gmail.com</p>
</div>
<div class="header222">
    <div class="menu">
        <ul>
            <li>
                <a href="/pages/aboutus/about.html">Giới thiệu về chúng tôi</a>
                <ul class="submenu">
                    <li><a href="/pages/aboutus/about.html">Về chúng tôi</a></li>
                    <li><a href="#">Điểm nhấn</a></li>
                    <li><a href="/pages/aboutus/contact.html">Chứng nhận</a></li>
                </ul>
            </li>
            <li>
                <a href="/pages/product/product.html">Sản phẩm</a>
                <ul class="submenu">
                    <li><a href="/pages/product/product.html">Các sản phẩm</a></li>
                    <li><a href="#">Sản phẩm 1</a></li>
                    <li><a href="#">Sản phẩm 2</a></li>
                </ul>
            </li>
            <li><a href="#">Nguồn cảm hứng</a></li>
            <li>
                <a href="#">Tài nguyên</a>
                <ul class="submenu">
                    <li><a href="#">Tài liệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Thư viện video</a></li>
                </ul>
            </li>
            <li><a href="#">Nơi đến mua</a></li>
        </ul>
    </div>
</div>
