<!-- components/header.html -->
<div class="header111">
    <p>số điện thoại: 0123456789</p>
    <p>Địa chỉ: 123 Đường ABC, Thành phố XYZ</p>
    <p>Gmail: abc123@gmail.com</p>
</div>
<div class="header222">
    <a href="index.html" class="logo-link">
        <img src="assets/img/anh/logodt.png" alt="Logo" class="logo">
    </a>
    <div class="menu">
        <ul>
            <li>
                <a href="pages/aboutus/press/press.html">Điểm Nhấn</a>
            </li>
            <li>
                <a href="pages/product/product.html">Sản Phẩm</a>
                <ul class="submenu">
                    <li><a href="pages/product/product.html">Các Sản Phẩm</a></li>
                    <li><a href="pages/product/typeproduct.html">Sản Phẩm 1</a></li>
                    <li><a href="pages/product/typeproduct.html">Sản Phẩm 2</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/imagine/index.html">Nguồn Cảm Hứng</a>
                <ul class="submenu">
                    <li><a href="pages/imagine/inspiration/inspiration.html">Thư Viện Cảm Hứng</a></li>
                    <li><a href="#">Danh Mục Đầu Tư</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/resources/index.html">Tài Nguyên</a>
                <ul class="submenu">
                    <li><a href="pages/resources/documents.html">Tài Liệu Sản Phẩm</a></li>
                    <li><a href="pages/resources/education.html">Giáo Dục</a></li>
                    <li><a href="pages/resources/news.html">Tin Tức</a></li>
                    <li><a href="pages/resources/event.html">Sự Kiện</a></li>
                    <li><a href="#">Thư Viện Video</a></li>
                </ul>
            </li>
            <li><a href="pages/map/index.html">Liên Hệ</a></li>
        </ul>
    </div>
</div>
