
.header111{
    background-color: #0adb0a;
    width: 100%;
    height: 6%;
    padding: 2px 10px;
    float: left;
}
.header111 img{
    float: left;
    width: 40px;
    height: 40px;
}
.header111 p{
    float: right;
    margin: 10px 20px;
    font-size: 0.9em;
}
.header222{
    background: #f1f1f1;
    width: 100%;
    height: 7%;
    float: left;
    display: contents;
}
.header222 .menu ul{
    list-style-type: none;
    text-align: center;
}
.header222 .menu ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
}
.header222 .menu ul li a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
}
.header222 .menu ul li a:hover{
    background: #f1f1f1;
    color: #0adb0a;
    
}
.header222 .menu ul li > .submenu{
    display: none;
    position: absolute;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    min-width: 160px;
}
.header222 .menu ul li .submenu li {
    margin: 5px 0;
}
.header222 .menu ul li:hover .submenu{
    display: block;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}
.header222 .menu ul li .submenu a {
    white-space: nowrap;
    display: block;
    padding: 5px 10px;
}
.submenu li{
    width: 100%;
}